<h1>This is the landing page</h1>
<ul>
<li><a href="/accelerons">Acccelerons</a></li>
<li><a href="/nitrox">nitrox</a></li>
<li><a href="/autokriti">Autokriti</a></li>
<li><a href="/contact">contact</a></li>
</ul>
..
